---
layout: page
title: Five Seconds
---

<p>Sometimes, a long blog post isn't needed to understand a short bit of code. These 5s posts are a few of these little snippets that I find to be useful from time to time.</p>

<div class="posts">
  {% assign sorted_posts = (site.posts | sort: "date") %}
  {% for post in sorted_posts %}
    {% if post.published == true and post.fivesecond == true %}
      <div class="well shadow-z-2 post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>

        {{ post.content }}
      </div>
    {% endif %}
  {% endfor %}
</div>
