/* Make the font family Roboto */
body{
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


@media(min-width: 768px){
  .post{
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

/*Center post images horizontally */
.post img{
	margin-left: auto;
	margin-right: auto;
}

/* Center .description and color them in dark grey */
.post .description{
	text-align: center;
	color: #9a9a9a;
}